
@{
	Layout = null;
	var styleValues = ViewBag.StyleValues as List<string>;
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/GitHubApp-main/static/css/style.css">
	<title>Github</title>
</head>

<body>
	<nav class="navbar">
		<span>Ar-Ge Ekibi</span>
	</nav>
	<section class="section">

		<div class="section__container">

			<div class="section__container_body">
				<form method="post">
					<div class="content">
						<div class="content__title">
							<span>@ViewBag.repositoryName</span>
						</div>
						<div class="content__body">
							<ul>
								<li>
									<span>Commit Sayısı</span>
									<span>@ViewBag.repositoryCommit</span>
								</li>
								
								<li>
									@*<span>Renk Kodu</span>
									<span>@ViewBag.ColorCode</span>*@
									@foreach (var item in styleValues)
									{
										<p>@item</p>
									}
									
								</li>
								<li>
									<span>Yıldız Sayısı</span>
									<span>@ViewBag.StarCount</span>
								</li>
								<li>
									<span>Açıklama</span>
									<span>@ViewBag.repositoryDescription</span>
								</li>
								<li>
									<span>İzleyiciler</span>
									<span>@ViewBag.WatchersCount</span>
								</li>
								
							</ul>
						</div>
					</div>
					
						
					
				</form>
			</div>
		</div>

	</section>



	<script src="~/GitHubApp-main/static/Javascript/script.js"></script>
</body>

</html>
