

@model IEnumerable<RepositoryData>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/GitHubApp-main/static/css/style.css">
	<title>Github</title>
</head>

<body>
	<nav class="navbar">
		<span>Ar-Ge Ekibi</span>
	</nav>
	<section class="section">

		<div class="section__container">

			<div class="section__container_body">
				<form method="post">
					<div class="content">
						<div class="content__title">
							<span>Kullanıcı bilgileri</span>
						</div>
						<div class="content__body">
							<ul>
								<li>
									<span>Kullanıcı adı</span>
									<span>@ViewBag.name</span>
								</li>
								<li>
									<span>Takma Ad</span>
									<span>@ViewBag.nickname</span>
								</li>
								<li>
									<span>Toplam En çok kullanılan dil</span>
									<span>@ViewBag.mostUsedOverallLanguage</span>
								</li>

							</ul>
						</div>
					</div>
					@foreach (var item in Model)
					{
						<div class="content">
							<div class="content__title">
								<span>@item.RepositoryName</span>
							</div>
							<div class="content__body">

								<ul>
									<li>
										<span>En çok kullanılan dil</span>
										<span>@item.MostUsedLanguage</span>
									</li>
									<li>
										<span>Güncellenme Tarihi</span>
										<span>@item.UpdateDate</span>
									</li>
									@await Component.InvokeAsync("_RepositoryDetailComponentPartial", new { parameter = ViewBag.parameter, repoName = item.RepositoryName })
									
								</ul>
							</div>
						</div>
					}
				</form>
			</div>
		</div>

	</section>



	<script src="~/GitHubApp-main/static/Javascript/script.js"></script>
</body>

</html>
